a{
  text-decoration: none;
  }
body {
      margin: 20px;
      padding: 20px;
      font-family: sans-serif;;}
h1,
h2 {
    margin: 0;
    padding: 0;
}

.list h1 {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
}

.note {
    border: 1px solid black;
    background-color: #eaf3ff;
    font-size: 84%;
    text-align: center;
     margin: 10px;
}


.tab table {

    background-color: #eaf3ff;
    margin: 10px;
}

.tab td {
    text-align: center;
    border: 0;
    font-size: 90%;
}

.tab td h4 {
    background-color: #FFC0CB;
    margin: 2px;
}
.tab ul {
  list-style-type: disc;
  margin: 0 20px;
  padding: 0px;
}
.tab li {
    text-align: left;
    font-size: 110%
}
.lasimg{ display: flex;
  justify-content:space-around;
}
.lasimg table{

display: inline;
text-align: center;
font-size: 90%;
}
.cont li {
    list-style: none;
}

.cont {
    border: 1px solid #a2a9b1;
    background-color: #eaf3ff;
    width: 32%;
    margin: 10px;
}

.cont p {
    text-align: center;
}
.cont ol {
    margin: 10px 19px;
    padding: 0;
}
.urus table {
    border-collapse: collapse;
    margin:10px 0;
  
    text-align: center;
  }
.scheme {
margin: 55px;
  border: 1px solid;
  width: 80%;
  text-align: center;

}
