body{
  background-color: #f6f6f6;
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.75em;
}


li{
  list-style: none;
  margin-top: 4px
}
.list ul{

  margin:0;
  padding: 5px;
}
 .logo img{
   width: 10em;
   height: 160px
 }
 .cont img{
   position: absolute;
   width: 18px;
  padding: 0px;
   left: 12em;
 }
